h1{
color: rgb(202, 76, 76) ;
}
footer
{
color: seashell;
background-color:rgb(15, 15, 15);
}
body
{
    background-color: black;
}
h6{
color:palevioletred;
}
h2{
color: palevioletred;
}
p{
color: beige;
}
ul{
color: palevioletred;
}